<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Builder | {{ title }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>

        <h2>AI Resume Builder</h2>

        {% if session.get("user_id") %}

            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('resume') }}">Resume</a>
            <a href="{{ url_for('cover_letter') }}">Cover Letter</a>
            <a href="{{ url_for('logout') }}">Logout</a>

        {% else %}

            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>

        {% endif %}

    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>