<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Builder | {{ title }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

    <nav>

        <h2>AI Resume Builder</h2>

        {% if session.get("user_id") %}

            <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-table-columns"></i> Dashboard
            </a>

            <a href="{{ url_for('resume') }}">
                <i class="fa-solid fa-file-lines"></i> Resume
            </a>

            <a href="{{ url_for('logout') }}">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>

        {% else %}

            <a href="{{ url_for('home') }}">
                <i class="fa-solid fa-house"></i> Home
            </a>

            <a href="{{ url_for('login') }}">
                <i class="fa-solid fa-right-to-bracket"></i> Login
            </a>

            <a href="{{ url_for('register') }}">
                <i class="fa-solid fa-user-plus"></i> Register
            </a>

        {% endif %}

    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-container">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    {% block content %}
    {% endblock %}

<script>
const checkbox = document.getElementById("showPasswords");
const password = document.getElementById("password");
const confirmPassword = document.getElementById("confirm_password");

if (checkbox && password && confirmPassword) {
    checkbox.addEventListener("change", function () {
        const type = this.checked ? "text" : "password";
        password.type = type;
        confirmPassword.type = type;
    });
}

const loginCheckbox = document.getElementById("showPassword");

if (loginCheckbox && password && !confirmPassword) {
    loginCheckbox.addEventListener("change", function () {
        password.type = this.checked ? "text" : "password";
    });
}
</script>

<script>
setTimeout(() => {
    const flashes = document.querySelectorAll(".flash");

    flashes.forEach(flash => {
        flash.style.opacity = "0";
        flash.style.transition = "opacity 0.5s ease";

        setTimeout(() => flash.remove(), 500);
    });
}, 3000);
</script>

</body>
</html>