{% extends "base.html" %}

{% block content %}

<div class="form-container">

    <h2>Create an Account</h2>

    <form action="{{ url_for('register') }}" method="POST">

        <label>Full Name</label>
        <input
            type="text"
            name="full_name"
            placeholder="Enter your full name"
            required>

        <label>Email</label>
        <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required>

        <label>Password</label>
        <input
            type="password"
            name="password"
            id="password"
            placeholder="Create a password"
            required>

        <label>Confirm Password</label>
        <input
            type="password"
            name="confirm_password"
            id="confirm_password"
            placeholder="Confirm password"
            required>
        
        <div class="show-password">
            <input type="checkbox" id = "showPasswords">
            <label for="showPasswords">Show Passwords</label>
        </div>

        <button type="submit">
            Create Account
        </button>

        <p class="auth-link">
            Already have an account?
            <a href="{{ url_for('login') }}">Login here</a>
        </p>

    </form>

</div>

{% endblock %}