{% extends "base.html" %}

{% block content %}

<div class="cover-letter-container">

    <h1>
        <i class="fa-solid fa-file-signature"></i>Cover Letter
    </h1>

    <h3 class="cover-job-title">
        {{ letter["job_title"] }}
    </h3>

    <p><strong>Company:</strong> {{ letter["company_name"] }}</p>

    {% if letter["hiring_manager"] %}
        <p><strong>Hiring Manager:</strong> {{ letter["hiring_manager"] }}</p>
    {% endif %}

    <hr>

    <div class="cover-letter-content">
        {{ letter["content"] }}
    </div>

    <br>

    <div class="resume-actions">

        <a href="{{ url_for('download_cover_letter', letter_id=letter['id']) }}"
        class="primary-btn">
            <i class="fa-solid fa-download"></i>
            Download PDF
        </a>

        <a href="{{ url_for('dashboard') }}"
        class="primary-btn">
            <i class="fa-solid fa-house"></i>
            Back to Dashboard
        </a>

    </div>

</div>

{% endblock %}