{% extends "base.html" %}

{% block content %}

<div class="resume-preview">
    
    <div class="resume-header">
        <h1>{{ resume[2] }}</h1>
        <p>{{ resume[3] }} | {{ resume[3] }}</p>
    </div>

    <div class="resume-section">
        <h2>Professional summary</h2>
        <p>{{ resume[8] }}</p>
    </div>

    <div class="resume-section">
        <h2>Education</h2>
        <p>{{ resume[5] }}</p>
    </div>

    <div class="resume-section">
        <h2>Skills</h2>
        <p> {{ resume[6] }}</p>
    </div>

    <div class="resume-section">
        <h2>Work Experience</h2>
        <p>{{ resume[7] }}</p>
    </div>

</div>


{% endblock %}